apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: kafka-metadata-pvc
  namespace: metacoding
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: standard  
  resources:
    requests:
      storage: 1Gi  
